/* You can add global styles to this file, and also import other style files */
@use "../public/assets/css/plugins/bootstrap.min.css";
@use "../public/assets/css/plugins/aos.css";
@use "../public/assets/css/plugins/fontawesome.css";
@use "../public/assets/css/plugins/magnific-popup.css";
@use "../public/assets/css/plugins/sidebar.css";
@use "../public/assets/css/plugins/slick-slider.css";
@use "../public/assets/css/plugins/nice-select.css";
@use "../public/assets/scss/main.scss";
body {
    background-color: #061D1E;
    background-image: url('/assets/img/all-images/bg/bg1.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
  }
  .parallaxie {
    background-color: #061D1E;
    background-image: url('/assets/img/all-images/bg/bg1.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
  }
  .light-mode .main-hero-area {
  background-color: #ffffff !important;
  background-image: url('/assets/img/all-images/bg/bg2.png');
  color: #000;
}